.ssel-active-icon .ssel-mouse-wait{
	background:rgba(0,0,0,0.70);
}
.ssel-mouse-wait {
	cursor: wait !important;
	position:fixed;
	top:0px;
	left:0px;
	height:100%;
	width:100%;
	z-index:99999;background: rgba(0, 0, 0, 0.52);
	z-index: 99999999999999999;
	pointer-events: all !important;
}
ao-mouse-wait .ssel-errored{
	font-size:50px;
	color:#ffffff !important;
 top:50%;left:50%;
 text-align:center;
 transform:translate(-50%,-50%);position: relative;
 -webkit-transform:translate(-50%,-50%);
 -moz-transform:translate(-50%,-50%);-o-transform:translate(-50%,-50%); -ms-transform:translate(-50%,-50%);
}
.ssel-mouse-wait div.ssel-errored{
	display:none !important;
}
.ssel-mouse-wait div.ssel-errored:first-child{
	display:inline-block !important;
}

.ssel_title_tabs {
	float: right;
	padding: 0px 20px 0px;
	border-bottom: 1px solid rgb(204, 204, 204);
	width: 100%;
	text-align: right;
	background: rgb(248, 248, 248);
}
.ssel_title_tabs a {
	padding: 8px 16px;
	float: right;
	background: rgb(234, 234, 234);
	border-color: rgb(204, 204, 204);
	font-size: 15px;
	color: #333;
	margin-bottom: -2px;
	border-style: solid;
	border-width: 1px;
	cursor:pointer;
}
.ssel_title_tabs a:hover{
	background:#cccccc;
}
.ssel_layout_active {
	background: rgb(255, 255, 255) !important;
	border-bottom: none !important;
	border-width: 1px 1px 0px 1px !important;
}


.ssel_icon .ssel_icon_content i::before {
	font-family: FontAwesome;
	font-size: 40px;
	color: #666;
	font-style: normal;
line-height: 40px;

	font-style: normal;
}
.ssel-menu-icon {
	width: 100%;
	position:relative;
	padding-top: 10px;
}
.ssel-menu-icon::before {
	font-family: FontAwesome!important;
	padding: 10px;
	font-size: 50px;
	color: #000;
	border: solid 3px rgba(150,150,150,.3);
	font-style: normal;
}
.ssel_icon_content {
	box-sizing: border-box;
}
.ssel_icon li {
	width: 90px;
}
.ssel_icon li span {
	font-size: 12px;
	text-align: center;
	width: 100%;
	line-height: 1.3em;
	float: right;
	overflow: hidden;
	height: 2.6em;
	font-style: normal;
}
.ssel_icon_content .fa {
	width: 100%;
	padding: 10px;
}
.ssel_icon_item.selected {
	box-shadow: 0 0 0 3px rgba(0,132,255,1.00);
}
 
body.ssel-active-icon .ssel_icon {
	position: fixed;
	pointer-events: all;
	background: rgba(0,0,0,0.70);
	top: 0;
	z-index: 100000 !important;
	cursor: initial;
	height: 100%;
	width: 100%;
	left: 0;
}
body.ssel-active-icon .menu-item {
	display: block;
}
.ssel_builder_remove_icon:hover{
	opacity:.5;
}
.ssel_builder_remove_icon::before{
	font-family:dashicons;
	content: "\f158";
	color:#ff0000;
	font-size: 25px;
	font-style: normal;
	line-height: 25px;
	 float: right;
}
 
.ssel_builder_remove_icon{
	cursor:pointer;
	position:absolute;
	top:-12px;
	right:-12px;
}
.ssel_icon * {
	pointer-events: all;
	box-sizing: border-box;
}
.ssel_icon.ssel_active {
	display: table;
	vertical-align: middle
}
.ssel_icon_middle {
	margin: auto;
	vertical-align: middle;
	width: calc(100% - 40px);
	text-align: center;
	display: inline-block;
	position: absolute;
	padding: 0 0;
	top: 50%;
	left: 50%;
	overflow: auto;
	box-sizing: border-box;
	right: auto;
	max-height: 90%;
	bottom: auto;
	transform: translate(-50%, -50%);
}
.ssel_icon_warp {
	width: 100%;
	max-height: 450px;
	background: #ffffff;
	margin: auto;
}
.ssel_row_list{
	padding:15px;
}
.ssel_icon_title {
	padding: 10px 10px 0;
	font-size: 18px;
	font-weight: 700;
	text-align: right;
	position: sticky;
	font-style: normal;
	background: rgb(248, 248, 248);
	box-sizing: border-box;
	float: right;
	width: 100%;
	z-index: 999999 !important;
	top: 0;
	position: sticky;
	top: 0;
	line-height: 25px;
}
.ssel_icon_content .ssel_icon_warp{
	display:none;
}
.ssel_icon_content .ssel_icon_warp.ssel_layout_group_active{
	display:inline-block;
}
.ssel_icon_title .ssel_title_tabs{
	margin-top:20px;
	
}
.ssel_icon_close {
	cursor: pointer;
	font-style: normal;
}
.ssel_icon_close::before {
	font-size: 2em;
	font-family: dashicons;
	height: 100%;
	float: left;
	content: "\f335";
	font-style: normal;
}
.ssel_icon_close:hover {
	opacity: .6;
}
.ssel_icon_content {
	overflow-y: auto;
	float: right;
	background: #fff;
	padding: 0;
	padding: 20px;
	box-sizing: border-box;
	margin: 0;
	width: 100%;
	height: 100%;
}
.ssel_icon_content li {
	display: inline-block;
	float: right;
	box-sizing: border-box;
	padding: 5px;
	cursor: pointer;
}
.ssel_icon[ssel-has-search="active"] .ssel_title_tabs {
	display:none !important;
	
}
.ssel_icon[ssel-has-search="active"] .ssel_icon_warp{
	display:inline !important;
}
.ssel_icon_add {
	background: #0085ba;
	font-style: normal;
	border-color: #0073aa #006799 #006799;
	-webkit-box-shadow: 0 1px 0 #006799;
	box-shadow: 0 1px 0 #006799;
	color: #fff;
	text-decoration: none;
	text-shadow: 0 -1px 1px #006799, 1px 0 1px #006799, 0 1px 1px #006799, -1px 0 1px #006799;
}
.ssel_remove_icon {
	font-style:normal;
	
}
.ssel_remove_icon.ssel-remove-hide{
	display:none;
}
.ssel_remove_icon.ssel-remove-show{
	display:inline-block;
}	
.ssel_icon_bottom {
	float: right;
	padding: 15px;
	position: sticky;
	bottom: 0;
	background: #fcfcfc;
	text-align: right;
	width: 100%;
}
.ssel_icon .ssel_icon_head {
    width: 100%;
    float: right;
    position: relative;
    font-size: 30px;
    text-align: right;
    border-bottom: solid 3px #5555552b;
    padding-bottom: 20px;
}

.ssel_icon .ssel-search-item{
	display:none !important;
}
.ssel_icon .ssel-search-item.ssel-search-show{
	display:inline !important;
	
}
.ssel_icon[ssel-has-search="deactive"] .ssel-search-item{
		display:inline-block !important;
}
.ssel_icon .search-icon-control {
    width: 100%;
    border: solid 3px #ddd;
    line-height: 35px;
    border-radius: 10px;
    margin-top: 10px;
    padding: 0 15px;
}