/* 
 * Meta box styles
 */
.CodeMirror-wrap pre{
	margin-right:28px !important;
}
.form-table.meta_box h2 {
	border-bottom: 1px dashed #ccc;
}
.form-table.meta_box th label {
	font-weight: bold;
}
.form-table.meta_box .description {
	font-size: 11px;
	color: #777;
	font-style: italic;
}
.form-table.meta_box .ssel_meta_box_items {
	margin: 0;
	padding: 0;
}
body .font-300 {
	font-weight: 300 !important;
	float: none;
	display: inline-block;
}
body .font-400 {
	font-weight: 400 !important;
	float: none;
	display: inline-block;
}
body .font-400 {
	font-weight: 400 !important;
	float: none;
	display: inline-block;
}
body .font-500 {
	font-weight: 500 !important;
	float: none;
	display: inline-block;
}
body .font-600 {
	font-weight: 600 !important;
	float: none;
	display: inline-block;
}
body .font-700 {
	font-weight: 300 !important;
	float: none;
	display: inline-block;
}
body .font-800 {
	font-weight: 800 !important;
	float: none;
	display: inline-block;
}
body .font-900 {
	font-weight: 900 !important;
	float: none;
	display: inline-block;
}
.form-table.meta_box .ssel_meta_box_items li {
	display: inline-block;
	width: 20%;
	min-width: 100px;
}
 
/* image */

.ssel_meta_box_preview_image {
	max-width: 200px;
	max-height: 200px;
	display: block;
	margin-bottom: 3px;
}
/* file */

.ssel_meta_box_file {
	display: block;
	width: 37px;
	height: 48px;
	background: url(../images/sprite.png) 0 0;
	float: right;
	margin-left: 15px;
}
.ssel_meta_box_file.checked {
	background-position: -50px 0;
}
.ssel_meta_box_filename {
	margin-bottom: 5px;
	display: block;
	font-weight: bold;
}
/* Select */

.form-table select {
	width: 25em;
}
.widget-content .ssel_meta_box_repeatable select {
	width: 96%;
} 
.meta_ssel_single_template li {
	list-style: outside none none;
	float: right;
	width: 100px !important;
	margin: 0 5px;
}
.meta_ssel_single_template .selected img,
.meta_ssel_body_background_pattern .selected a {
	box-shadow: 0 0 0px 3px RGB(0, 158, 235);
}
.meta_ssel_single_template img {
	cursor: pointer;
	width: 100px !important;
	height: 70px !important;
}
.meta_ssel_single_template .input {
	display: none;
}
.meta_colors {
	display: none;
}
#review_score {
	width: 50px;
}
#ssel_page_general_box .wp-picker-container input.wp-color-picker[type="text"] {
	width: 100%;
	font-size: 15px;
	font-family: monospace;
	line-height: 20px;
	margin: 0;
}
.wp-picker-container input.button {
	width: auto;
	height: auto;
	line-height: 1.5;
	padding: 2px 8px;
	margin: 6px
}
.wp-picker-container {
	width: 121px;
	float: right
}
.wp-picker-container .wp-color-result {
	outline: 0;
	margin-top: 2px
}
.wp-picker-container .wp-picker-open {
	outline: 0;
	margin-top: 5px
}
.wp-picker-container {
	float: right
}
 .menu-item-settings .description-wide{
	 margin-bottom:20px;
 }
.meta_ssel_single_template input,
.meta_ssel_body_background_pattern input,
.display_none {
	display: none !important;
}
.meta_ssel_body_background_pattern li {
	list-style: none;
	cursor: pointer;
	float: right;
}
.meta_ssel_body_background_pattern a {
	width: 40px;
	height: 40px;
	cursor: pointer;
	border: 3px solid rgb(249, 249, 249);
	margin: 0 5px 10px 0;
	cursor: pointer;
	float: right;
}
.meta_ssel_body_background_pattern img {
	display: none;
	cursor: pointer;
	cursor: pointer;
}
#ssel_review_metabox input[type="text"],
#ssel_video_metabox input[type="text"] {
	width: 25em
}
.meta_ssel_color .wp-picker-container {
	float: right;
}
.meta_ssel_color .wp-picker-input-wrap {
	width: 100%;
}
.meta_ssel_color .wp-picker-container input.wp-color-picker[type="text"] {
	width: 100% !important;
}
.meta_ssel_color .wp-picker-holder,
.meta_ssel_color .wp-color-result {
	float: right;
}
.meta_ssel_color .cs-alpha-wrap {
	box-sizing: inherit;
}
.meta_ssel_color .wp-picker-input-wrap .button {
	margin-top: 5px;
	width: 60px;
}
.meta_ssel_color .cs-alpha-text {
	display: none;
}
.meta_ssel_color .ui-slider-vertical.ui-slider {
	margin-left: 0px;
}
.meta_ssel_body_background_image img {
	width: 300px;
	height: auto;
	display: block;
	margin-top: 10px;
}
  
.rd_icon .rd_icon_content i::before {
	font-family: FontAwesome!important;
	font-size: 40px;
	color: #666;
	font-style: normal;
}
.rd-menu-icon {
	width: 100%;
	padding-top: 10px;
}

.ssel_menu_icon  label{
float: right;
    margin-left: 11px;

} 



.ssel_menu_icon.description .sao-menu-icon {

    font-size: 50px;
    height: auto;
    padding: 10px;
    position: relative;
    width: auto;
    float: right;
    line-height: 1em;
    margin-left: 10px;
    border: solid 3px  #9696964d;

}
.ssel_menu_icon.description .sao-menu-icon::before{
	    padding: 00px;
		border:none !important;
		
}
.rd-menu-icon::before {
	font-family: FontAwesome!important;
	padding: 10px;
	font-size: 50px;
	color: #000;
	border: solid 3px rgba(150, 150, 150, .3);
	font-style: normal;
}
.rd_icon_content {
	box-sizing: border-box;
}
.rd_icon li {
	width: 90px;
}
.rd_icon li span {
	font-size: 12px;
	text-align: center;
	width: 100%;
	line-height: 1.3em;
	float: right;
	overflow: hidden;
	height: 2.6em;
	font-style: normal;
}
.rd_icon_content .fa {
	width: 100%;
	padding: 10px;
}
.rd_icon_item.selected {
	box-shadow: 0 0 0 3px rgba(0, 132, 255, 1.00);
}
.rd-active-icon * {
	z-index: 0 !important;
}
body.rd-active-icon .rd_icon {
	position: fixed;
	pointer-events: all;
	background: rgba(0, 0, 0, 0.70);
	top: 0;
	z-index: 100000 !important;
	cursor: initial;
	height: 100%;
	width: 100%;
	right: 0;
}
body.rd-active-icon .menu-item {
	display: block;
}
.rd_icon * {
	pointer-events: all;
	box-sizing: border-box;
}
.rd_icon.rd_active {
	display: table;
	vertical-align: middle
}
.rd_icon_middle {
	margin: auto;
	vertical-align: middle;
	width: calc(100% - 40px);
	text-align: center;
	display: inline-block;
	position: absolute;
	padding: 0 0;
	top: 50%;
	right: 50%;
	overflow: auto;
	box-sizing: border-box;
	left: auto;
	max-height: 90%;
	bottom: auto;
	transform: translate(-50%, -50%);
}
.rd_icon_warp {
	width: 100%;
	max-height: 450px;
	background: #fcfcfc;
	margin: auto;
}
.rd_icon_title {
	padding: 10px;
	font-size: 18px;
	font-weight: 700;
	text-align: right;
	position: sticky;
	font-style: normal;
	background: rgb(248, 248, 248);
	box-sizing: border-box;
	float: right;
	width: 100%;
	z-index: 9999999 !important;
	top: 0;
	position: sticky;
	top: 0;
	line-height: 25px;
}
.rd_icon_close {
	cursor: pointer;
	font-style: normal;
}
.rd_icon_close::before {
	font-size: 2em;
	font-family: dashicons;
	height: 100%;
	float: left;
	content: "\f335";
	font-style: normal;
}
.rd_icon_close:hover {
	opacity: .6;
}
.rd_icon_content {
	overflow-y: auto;
	float: right;
	background: #fff;
	padding: 0;
	padding: 20px;
	box-sizing: border-box;
	margin: 0;
	width: 100%;
	height: 100%;
}
.rd_icon_content li {
	display: inline-block;
	float: right;
	box-sizing: border-box;
	padding: 5px;
	cursor: pointer;
}
.rd_icon_add {
	background: #0085ba;
	font-style: normal;
	border-color: #0073aa #006799 #006799;
	-webkit-box-shadow: 0 1px 0 #006799;
	box-shadow: 0 1px 0 #006799;
	color: #fff;
	text-decoration: none;
	text-shadow: 0 -1px 1px #006799, 1px 0 1px #006799, 0 1px 1px #006799, -1px 0 1px #006799;
}
.rd_remove_icon {
	font-style: normal;
}
.rd_remove_icon.rd-remove-hide {
	display: none;
}
.rd_remove_icon.rd-remove-show {
	display: inline-block;
}
.rd_icon_bottom {
	float: left;
	padding: 15px;
	position: sticky;
	bottom: 0;
	background: #fcfcfc;
	text-align: left;
	width: 100%;
}
.menu-item:not(.menu-item-depth-0) .ssel_menu_type,
.menu-item:not(.menu-item-depth-0) .ssel_category,
.menu-item:not(.menu-item-depth-0) .ssel_ratio,
.menu-item:not(.menu-item-depth-0) .ssel_menu_sub_width,
.menu-item:not(.menu-item-depth-0) .ssel_menu_background_image,
.menu-item:not(.menu-item-depth-0) .ssel_menu_background_position,
.menu-item:not(.menu-item-depth-0) .ssel_menu_background_full_size {
	display: none !important;
}
.menu-item .ssel_category,
.menu-item .ssel_ratio {
	display: none;
}
.rd_options_item {
	width: 100%;
}
.rd_options_name {
	width: 200px;
	float: right;
}
.rd_options_name label {
	font-weight: 700;
}
.rd_options_heading {
	float: right;
	width: 100%;
	padding: 5px 15px;
	background: #222528;
}
.rd_options_title {
	float: right;
	padding: 5px 15px;
	width: 100%;
	background: #eeeeee;
}
.rd_options_heading label {
	color: #ffffff !important;
}
.rd_options_title label {
	color: #333333 !important;
}
.rd_options_item {
	float: right;
}
.rd_options_item label {
	float: right;
}
.rd_options_item .iris-picker {
	z-index: 11111;
}
.rd_options_item .wp-picker-holder {
	position: absolute;
}
.rd_options_content {
	display: inline-block;
	width: 100%;
}
.sao_options_radio_image.sao_id_background_image li {
	width: 16.66% !important;
}
.ssel_menu_sub_column_span {
	float: right;
	width: 33.33%;
}
.ssel_menu_sub_column_span.selected img {
	box-shadow: 0 0 0 3px #00ABFF;
}
.ssel_menu_sub_column_span img:hover {
	box-shadow: 0 0 0 3px #111111;
}
.ssel_menu_sub_column_ui {
	width: 100%;
	float: right;
}
.ssel_menu_sub_column_span img {
	cursor: pointer;
}
.ssel_menu_upload img {
	border: solid 3px #e2e5e8;
	margin-top: 10px;
	max-width: 50%;
	display: block;
}
.menu-item-section p.description,
.menu-item-product_grid p.description,
.menu-item-product_list p.description,
.menu-item-image p.description {
	display: none !important;
}
body .menu-item-section p.menu-section-description,
body .menu-item-product_grid p.menu-product-description,
body .menu-item-product_list p.menu-product-description,
body .menu-item-image p.menu-image-description,
body .menu-item-image_text p.menu-image-description {
	display: block !important;
}
body .menu-item-depth-0.menu-item-section p.description.description-wide,
body .menu-item-depth-0.menu-item-product_grid p.description.description-wide,
body .menu-item-depth-0.menu-item-product_list p.description.description-wide,
body .menu-item-depth-0.menu-item-image p.description.description-wide,
body .menu-item-depth-0.menu-item-image_text p.description.description-wide {
	display: none !important;
}
body .menu-item-depth-0.menu-item-section p.ssel_menu_not_depth,
body .menu-item-depth-0.menu-item-product_grid p.ssel_menu_not_depth,
body .menu-item-depth-0.menu-item-product_list p.ssel_menu_not_depth,
body .menu-item-depth-0.menu-item-image p.ssel_menu_not_depth,
body .menu-item-depth-0.menu-item-image_text p.ssel_menu_not_depth {
	display: block !important;
}
.ssel_menu_not_depth span {
	color: red
}
.menu-item-section .menu-item-bar .menu-item-handle {
	background: rgb(100, 176, 255);
}
.menu-item-section .menu-item-bar .menu-item-handle span,
.menu-item-section .menu-item-bar .item-edit::before {
	color: #ffffff !important;
}
body .menu-item-section p.ssel_menu_not_depth.description.description-wide,
body .menu-item-product_grid p.ssel_menu_not_depth.description.description-wide,
body .menu-item-product_list p.ssel_menu_not_depth.description.description-wide,
body .menu-item-image p.ssel_menu_not_depth.description.description-wide,
body .menu-item-image_text p.ssel_menu_not_depth.description.description-wide {
	display: none !important;
}
body .menu-item-section.menu-item-depth-0 p.ssel_menu_not_depth.description.description-wide,
body .menu-item-product_grid.menu-item-depth-0 p.ssel_menu_not_depth.description.description-wide,
body .menu-item-product_list.menu-item-depth-0 p.ssel_menu_not_depth.description.description-wide,
body .menu-item-image.menu-item-depth-0 p.ssel_menu_not_depth.description.description-wide,
body .menu-item-image_text.menu-item-depth-0 p.ssel_menu_not_depth.description.description-wide {
	display: block !important;
}
.menu-item-section input,
.menu-item-product_grid input[type="text"],
.menu-item-product_list input[type="text"] {
	width: 50px;
}

#ssel-gallery-metabox-list li {
  float: right;
  width: 150px;
  text-align: center;
  margin: 10px 10px 10px 0;
  cursor: move;
} 
 .meta_ssel_portfolio_summary textarea{
	 width:100% !important;
 }

.rd-loading-autocomplete{
	position:absolute;
	width:100%;
	height:100px;
	background:#ffffff;
	z-index:111111111111;
	box-shadow:0 0 5px 0px rgba(0,0,0,0.34);
}
 

 .chosen-select{
	 width:100%;
 }
 .meta_sao_game_body_background_image img{
  max-width: 300px;
display: block;

margin-top: 10px;
}
 
